@mixin flex-centre{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-animation{
  animation-name: button-animation;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@mixin session-width{
  width: 100%;
}


@keyframes button-animation {
  25%{
    transform: scale(1.1);
  }

  75%{
    transform: scale(0.9);
  }
}


.contactForm{
  @include session-width();


  .formContainer{
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2,1fr);
  }


  .up-section{
    grid-row: 1/2;
    background-color: var(--secondary-color);
    min-height: 500px;
    z-index: 1;
  }


  .down-section{
    grid-row: 2/3;
    min-height: 500px;
    z-index: 1;
  }


  .form-to-contact{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-row: 1/3;
    background-color: var(--primary-color);
    z-index: 100;
    min-height: 900px;
    min-width: 60%;
    box-shadow: rgb(54, 54, 54) 0px 0px 10px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 20% 1fr;

    .form-contact-us{
      grid-column: 1/3;
      grid-row: 1;
      text-align: center;
      text-decoration: underline;
      font-size:2.5rem;
      font-weight: 200;
      color: var(--secondary-color);
      text-decoration-color: var(--secondary-color); /* 控制下划线颜色 */
      // text-decoration-thickness: 10px; /* 控制下划线厚度 */
      text-underline-offset: 25px;
    }


    @mixin flex-column{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
    }

    .left-section{
      width: 80%;
      grid-column: 1/2;
      grid-row: 2;
      margin: 1rem 2rem;
      max-height: 80%;
      // @include flex-column();

      h1{
        font-size: 2.5rem;
      }

  
      .contact-list{
        list-style-type: none;
        padding:0;

        & li{
          margin: 1.6rem 0;
          display: flex;
          justify-content: flex-start;

          .bi-telephone-fill{
            color: var(--secondary-color);
          }

          .bi-envelope-fill{
            color: var(--secondary-color);
          }
 
          .bi-geo-alt-fill{
            color: var(--secondary-color);
          }

          
           & span{  
              font-size: 1.6rem;
              color:var(--grey-color);
              margin-left:20px;
              text-align: left;
             
           }
        }
      }

     
      
    }

    .right-section{
      grid-column: 2/3;
      grid-row: 2;
      margin: 1rem 2rem;
      max-height: 80%;

      .right-title{
       color:var(--secondary-color);
       font-size: 1.5rem;
       font-weight: 600;
      }

      .contactForm{
        list-style-type: none;
        padding:0;

        & li{
          margin: 1.6rem 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;

        span{
          font-size: 1.5rem;
          color:rgb(102, 99, 99);
        }

        .text-input{
          margin-top: 3px;
          padding:0;
          width:80%;
          height: 40px;
          border-radius: 10px;
          border: none;
          background-color: #d6d4d47a;
          font-size: 20px;
          color: black;
          &:focus{
            outline: none;
          }
        }

        .mySelect{
          margin-top: 3px;
          padding:0;
          width:80%;
          height: 40px;
          border-radius: 10px;
          border: none;
          background-color: #d6d4d47a;
          font-size: 20px;
          color: black;
          &:focus{
            outline: none;
          }
        }
        
        .equiry{
          margin-top: 3px;
          padding:0;
          width:80%;
          height: 120px;
          border-radius: 10px;
          border: none;
          background-color: #d6d4d47a;
          font-size: 20px;
          color: black;
          &:focus{
            outline: none;
          }
        }
       }


     }

     button{
        border-radius: 10px;
        border: none;
        font-weight:  600;
        font-size: 1.5vw;
        width:80%;
        padding: 15px 4px;
        text-transform: uppercase;
        background-color: var(--secondary-color);
        cursor: pointer;
        color: var(--primary-color);
        margin: 1rem 0;


        &:hover{
          @include button-animation();
        }
      
    }
  }


 }

}