@charset "UTF-8";
.header-section {
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  min-height: 80px;
  box-shadow: #363636 0px 0px 10px;
  backdrop-filter: blur(20px);
  transition: all 0.3s;
}

.navbar .container {
  margin: 0 auto;
  padding: 0 10px;
  min-width: 80%;
  max-width: 80%;
  z-index: 1000;
}

.navbar .site-logo {
  position: relative;
  float: left;
  margin-top: 1.5rem;
  cursor: pointer;
}

.navbar .site-logo a {
  text-decoration: none;
  color: var(--primary-color);
}

.navbar .site-logo img {
  border: 0;
  max-width: 300px;
  margin: auto 0px;
}

.barLink {
  width: calc(60% - 15rem);
  font-weight: 800;
  font-size: 1.5rem;
  position: relative;
  float: right;
  text-transform: capitalize;
  display: flex;
  justify-content: end;
  align-items: center;
  visibility: visible;
}

.barLink .barLinkList {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.barLink .barLinkList li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.barLink .barLinkList li:hover {
  text-decoration: underline;
  text-decoration-color: var(--secondary-color);
  text-underline-offset: 35px;
}

.barLink .barLinkList .chosen {
  text-decoration: underline;
  text-decoration-color: var(--secondary-color);
  text-underline-offset: 35px;
}

.barLink .barLinkListItem {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.barLink .barLinkListItem a {
  text-decoration: none;
  color: black;
  margin: 0.5rem;
  font-size: 1.5rem;
  padding: 0 0.3rem;
  font-family: "Libre Franklin", Arial, "Microsoft YaHei", 微软雅黑, STXihei, 华文细黑, SimSun, 宋体, Heiti, 黑体, sans-serif !important;
  font-weight: normal;
}

.barLink .barLinkListItem a:hover {
  color: grey;
  transition: 0.7s all ease;
}

.barLink .barLinkListItem img {
  border: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  max-width: 15%;
  height: auto;
  image-rendering: optimizeQuality;
}

.barLink .barLinkListItem img:hover {
  transition: 0.7s all ease;
  opacity: 0.8;
}

.navDropdownListItem {
  position: relative;
  height: 100%;
}

.navDropdownListItem:hover {
  background-color: var(--secondary-color);
  transition: 1s all;
}

.navDropdownListItem .navLanguage {
  text-decoration: none;
  color: black;
  margin: 0.5rem;
  font-size: 1.5rem;
  padding: 0 0.3rem;
  font-family: "Libre Franklin", Arial, "Microsoft YaHei", 微软雅黑, STXihei, 华文细黑, SimSun, 宋体, Heiti, 黑体, sans-serif !important;
  font-weight: normal;
}

.navDropdownListItem .navLanguage:hover {
  color: var(--primary-color);
  opacity: 1 !important;
  transition: 1s all;
  text-decoration: none !important;
}

.navDropdownListItem .navLanguage img {
  border: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 2rem;
  height: auto;
  image-rendering: optimizeQuality;
}

.navDropdownList {
  display: none;
  position: absolute;
  width: 30rem;
  top: 2.8rem;
  left: 0rem;
  padding-inline-start: 0;
}

.navDropdownList li {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  max-width: 15rem;
  border: 1px solid var(--primary-color);
}

.navDropdownList li:hover {
  text-decoration: none !important;
}

.navDropdownList li a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--secondary-color);
  color: aliceblue;
}

.navDropdownList.activated {
  display: block;
  transition: 1s all ease;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.navMobileBtn {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 10px;
  width: 3rem;
  height: 3rem;
  margin: 1.5rem 0 0 1.5rem;
  font-size: 1.5rem;
  position: relative;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: none;
}

.navMobileBtn.show {
  display: flex;
}

.navMobileBtn i {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.8rem;
}

.mobile-header-menu {
  display: none;
}

@media screen and (max-width: 1057px) {
  .barLink {
    visibility: hidden;
    display: none;
  }
  .navMobileBtn {
    display: block;
  }
  .navbar {
    min-height: 120px;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    max-width: 95% !important;
    min-width: 95% !important;
    margin: 1rem auto !important;
  }
  .site-logo {
    order: 2;
  }
  .site-logo img {
    max-width: 500px !important;
  }
  .navMobileBtn {
    order: 1;
    align-self: flex-end;
  }
  .mobile-header-menu {
    position: fixed;
    top: 235px;
    background-color: var(--primary-color);
    min-height: 100px;
    width: 100%;
    z-index: 2000;
    transition: 1s min-height ease-in;
    box-shadow: #363636 0px 10px 10px;
    border-top: 0.5px solid darkgray;
  }
  .mobile-header-menu .barLink {
    visibility: visible;
    width: 100% !important;
    display: unset;
  }
  .mobile-header-menu .barLink .chosen {
    text-decoration: none;
    background-color: var(--secondary-color);
  }
  .mobile-header-menu .barLink .barLinkList {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
  }
  .mobile-header-menu .barLink .barLinkList li:hover {
    text-decoration: none;
    background-color: var(--secondary-color);
  }
  .mobile-header-menu .barLink .barLinkListItem {
    width: 100%;
    justify-content: flex-start;
  }
  .mobile-header-menu .barLink .barLinkListItem a:hover {
    color: unset;
  }
}

@media screen and (max-width: 768px) {
  .site-logo img {
    max-width: 300px !important;
    margin: auto;
  }
  body .mobile-header-menu {
    top: 190px;
  }
}
