@charset "UTF-8";
:root {
  font-size: 16px;
  --secondary-color: #ff0000;
  --primary-color: white;
  --grey-color: #a09a9a;
  --maxWidth: 100%;
}

* {
  box-sizing: border-box;
}

@keyframes button-animation {
  25% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.9);
  }
}

body {
  max-width: 3000px;
  margin: 0 auto;
  padding: 0;
  font-family: barlow, sans-serif;
}

.header-section {
  max-width: 3000px;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  min-height: 80px;
  box-shadow: #363636 0px 0px 10px;
}

.navbar .container {
  margin: 0 auto;
  padding: 0 10px;
  min-width: 60%;
  max-width: 90%;
}

.navbar .site-logo {
  position: relative;
  float: left;
  cursor: pointer;
}

.navbar .site-logo a {
  text-decoration: none;
  color: var(--primary-color);
}

.navbar .site-logo img {
  border: 0;
  max-width: 300px;
  margin: auto 0px;
}

.barLink {
  width: calc(60% - 15rem);
  font-weight: 800;
  font-size: 1.5rem;
  position: relative;
  float: right;
  text-transform: capitalize;
  display: flex;
  justify-content: end;
  align-items: center;
}

.barLink .barLinkList {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.barLink .barLinkList li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.barLink .barLinkList li:hover {
  text-decoration: underline;
  text-decoration-color: var(--secondary-color);
  text-underline-offset: 35px;
}

.barLink .barLinkList .chosen {
  text-decoration: underline;
  text-decoration-color: var(--secondary-color);
  text-underline-offset: 35px;
}

.barLink .barLinkListItem {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.barLink .barLinkListItem a {
  text-decoration: none;
  color: black;
  margin: 0.5rem;
  font-size: 1.5rem;
  padding: 0 0.3rem;
  font-family: "Libre Franklin", Arial, "Microsoft YaHei", 微软雅黑, STXihei, 华文细黑, SimSun, 宋体, Heiti, 黑体, sans-serif !important;
  font-weight: normal;
}

.barLink .barLinkListItem a:hover {
  color: grey;
  transition: 0.7s all ease;
}

.navDropdownListItem {
  position: relative;
  height: 100%;
}

.navDropdownListItem:hover {
  background-color: var(--secondary-color);
  transition: 1s all;
}

.navDropdownListItem .navLanguage {
  text-decoration: none;
  color: black;
  margin: 0.5rem;
  font-size: 1.5rem;
  padding: 0 0.3rem;
  font-family: "Libre Franklin", Arial, "Microsoft YaHei", 微软雅黑, STXihei, 华文细黑, SimSun, 宋体, Heiti, 黑体, sans-serif !important;
  font-weight: normal;
}

.navDropdownListItem .navLanguage:hover {
  color: var(--primary-color);
  opacity: 1 !important;
  transition: 1s all;
  text-decoration: none !important;
}

.navDropdownList {
  display: none;
  position: absolute;
  width: 30rem;
  top: 2.8rem;
  left: 0rem;
  padding-inline-start: 0;
}

.navDropdownList li {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  max-width: 15rem;
  border: 1px solid var(--primary-color);
}

.navDropdownList li:hover {
  text-decoration: none !important;
}

.navDropdownList li a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--secondary-color);
  color: aliceblue;
}

.navDropdownList.activated {
  display: block;
  transition: 1s all ease;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.mainPage {
  width: 100%;
}

.video-container-overlay {
  height: 40rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.video-container-overlay .introduceVideoContainer {
  height: 30em;
  width: 100%;
  margin-top: 5.5rem;
  object-fit: cover;
  grid-column: 1/6;
  grid-row: 1;
  z-index: 1;
}

.video-container-overlay .video-shadow-layout {
  grid-column: 4/6;
  grid-row: 1/2;
  z-index: 90;
  background-color: black;
  height: 100%;
  opacity: 0.6;
  border-radius: 14% 0 0 5% / 50% 0 0 50%;
}

.video-container-overlay .text-layout {
  grid-column: 4/6;
  grid-row: 1/2;
  display: flex;
  z-index: 200;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin-top: 4rem;
  margin-left: 3rem;
}

.video-container-overlay .text-layout h2 {
  color: white;
  text-align: center;
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
  margin-top: 14rem;
}

.video-container-overlay .text-layout div {
  color: white;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  line-height: 3rem;
  text-transform: capitalize;
  text-align: left;
}

.video-container-overlay .text-layout span {
  color: var(--secondary-color);
}

.video-container-overlay .text-layout .talk-to-us {
  border-radius: 10px;
  border: none;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px 25px;
  text-transform: capitalize;
  background-color: var(--secondary-color);
  margin: 2rem 0;
  margin-left: 3rem;
  cursor: pointer;
}

.video-container-overlay .text-layout .talk-to-us:hover {
  background-color: white;
  transform: translateY(-30%);
  transition: 0.8s all ease;
}

.text-editor {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-editor p {
  font-size: 3rem;
  font-weight: bolder;
  text-transform: capitalize;
}

.ticket-table {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  border-collapse: collapse;
}

.ticket-table .tableSorter {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 2fr;
  min-height: 15rem;
}

.ticket-table .tableSorter .table-header {
  background-color: var(--secondary-color);
}

.ticket-table .tableSorter .spanStyle {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 500;
  font-family: Ubuntu, 方正黑体简体, "Open Sans", Helvetica, Arial, sans-serif;
}

.ticket-table .tableSorter .grid-item-1 {
  border-top-left-radius: 2rem;
  grid-column: 1;
  grid-row: 1;
}

.ticket-table .tableSorter .grid-item-2 {
  border-top-right-radius: 2rem;
  grid-column: 2;
  grid-row: 1;
}

.ticket-table .tableSorter .grid-item-3 {
  grid-column: 1;
  grid-row: 2;
}

.ticket-table .tableSorter .grid-item-4 {
  grid-column: 2;
  grid-row: 2;
}

.ticket-table .tableSorter .spanStyle-body {
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  max-height: 5rem;
  font-weight: 300;
  font-family: Ubuntu, 方正黑体简体, "Open Sans", Helvetica, Arial, sans-serif;
}

.ticket-table .tableSorter .table-body {
  background-color: var(--grey-color);
}

.origin-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 2rem auto;
}

.Apply {
  border-radius: 10px;
  border: none;
  font-weight: bold;
  font-size: 1.8rem;
  padding: 10px 40px;
  text-transform: capitalize;
  background-color: var(--secondary-color);
  margin: 2rem 0;
  cursor: pointer;
  position: relative;
  left: 45%;
}

.Apply:hover {
  animation-name: button-animation;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.backgroundCover {
  background-image: url("https://www.awardmortgage.com.au/wp-content/uploads/2019/10/20191031163749.jpg");
  background-size: auto;
  z-index: 50;
}

@media screen and (min-width: 1025px) {
  .backgroundCover {
    background-attachment: fixed;
  }
}

.backgroundCover p::selection {
  background-color: var(--secondary-color);
}

.backgroundCover p::-moz-selection {
  background-color: var(--secondary-color);
}

.backgroundCover p::-webkit-selection {
  background-color: var(--secondary-color);
}

.backgroundCover .coverShadow-layout {
  height: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: 100;
}

.backgroundCover .elementor-container {
  min-height: 800px;
  padding: 20px;
  z-index: 200;
  color: var(--primary-color);
  font-family: Ubuntu, 方正黑体简体, "Open Sans", Helvetica, Arial, sans-serif;
}

.backgroundCover .elementor-container .travelName {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  font-weight: 900;
  margin-top: 5rem;
}

.backgroundCover .elementor-container .travelIntroduction {
  margin: 0 25%;
}

.backgroundCover .elementor-container .travelIntroduction p {
  line-height: 2rem;
  font-weight: 100;
  font-size: 1.5rem;
  text-align: justify;
}

.backgroundCover .elementor-container .travelIntroduction p ::selection {
  background-color: var(--secondary-color);
}

.backgroundCover .elementor-container .travelIntroduction p ::-moz-selection {
  background-color: var(--secondary-color);
}

.backgroundCover .elementor-container .travelIntroduction p ::-webkit-selection {
  background-color: var(--secondary-color);
}

.backgroundCover .elementor-container .travelIntroduction :not(:first-child) {
  margin-top: 2rem;
}

.backgroundCover .travelIntroStatics-section {
  width: 100%;
}

.backgroundCover .travelIntroStatics-section .statics-container {
  max-width: 80%;
  margin: 0 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.backgroundCover .travelIntroStatics-section .statics-container .statics {
  display: flex;
  flex-direction: column;
}

.backgroundCover .travelIntroStatics-section .statics-container .statics .first {
  color: white;
  font-weight: 500;
  text-align: center;
  font-size: 4rem;
  margin: 0.5rem auto !important;
}

.backgroundCover .travelIntroStatics-section .statics-container .statics .last {
  color: var(--secondary-color);
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  margin: 0 auto !important;
}

.backgroundCover .findButton {
  border-radius: 10px;
  border: none;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 15px 80px;
  text-transform: uppercase;
  background-color: var(--secondary-color);
  margin: 6rem 0;
  cursor: pointer;
  position: relative;
  left: 45%;
}

.backgroundCover .findButton:hover {
  animation-name: button-animation;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.service-section {
  width: 100%;
  margin-top: 10rem;
}

.service-section .serviceDescription {
  max-width: 85%;
  margin: 8rem auto 3.5rem auto;
}

.service-section .serviceDescription p {
  font-size: 45px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-section .serviceDescription span {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 1.2rem;
}

.service-section .serviceBar {
  max-width: 1000px;
  margin: 3.5rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-between;
}

.service-section .serviceOption {
  position: relative;
  display: inline-block;
  margin: 2rem;
  max-width: 250px;
}

.service-section .serviceOption a {
  text-decoration: none;
  color: #363636;
}

.service-section .serviceOption img {
  filter: brightness(60%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
  transition-duration: 0.5s;
  border-radius: 25px 25px 25px 25px;
  box-shadow: #363636 0px 0px 10px;
  width: 100%;
}

.service-section .serviceOption img:hover {
  filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
}

.service-section .serviceOption .image-caption {
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 900;
  line-height: 2.5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.service-section .serviceOption .caption-position {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.service-section .InfoButton {
  border-radius: 10px;
  border: none;
  font-weight: 200;
  color: var(--primary-color);
  font-size: 1.5rem;
  padding: 20px 30px;
  text-transform: uppercase;
  background-color: var(--secondary-color);
  margin: 6rem 0;
  cursor: pointer;
  position: relative;
  left: 45%;
}

.service-section .InfoButton:hover {
  animation-name: button-animation;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.cover-section {
  position: relative;
}

.red {
  color: var(--secondary-color);
}

.expert {
  width: 100%;
  font-family: "Libre Franklin", Arial, "Microsoft YaHei", 微软雅黑, STXihei, 华文细黑, SimSun, 宋体, Heiti, 黑体, sans-serif !important;
}

.expert .expertContainer {
  width: 100%;
  background-color: var(--secondary-color);
  min-height: 250px;
}

.expert .expertContainer .expert-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto 3rem auto;
  max-width: 70%;
}

.expert .expertContainer p {
  font-weight: 900;
  font-size: 4rem;
}

.expert .expertContainer .contactDetail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.expert .expertContainer .contactDetail .talkToUs {
  border-radius: 10px;
  border: none;
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 1.5rem;
  padding: 1.5rem 2.5rem;
  text-transform: uppercase;
  background-color: black;
  margin: 1rem 0;
  margin-top: 3rem !important;
}

.expert .expertContainer .contactDetail .talkToUs:hover {
  animation-name: button-animation;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.expert .expertContainer .contactDetail span {
  margin: 0.5rem 0;
  font-weight: 600;
  font-size: 2.5rem;
  text-align: center;
}

.expert .expertContainer .contactDetail .bi {
  margin-right: 8px;
}

.whyTravel {
  width: 100%;
  background-color: #f2f2f2;
  min-height: 1400px;
  font-family: "Libre Franklin", Arial, "Microsoft YaHei", 微软雅黑, STXihei, 华文细黑, SimSun, 宋体, Heiti, 黑体, sans-serif !important;
}

.whyTravel .travelReason {
  max-width: 80%;
  margin: 0 auto;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.whyTravel .travelReason p {
  font-size: 45px;
  font-weight: 600;
  text-transform: capitalize;
}

.whyTravel .travelReason span {
  text-align: left;
  font-size: 30px;
  font-weight: 400;
}

.whyTravel .travelReason iframe {
  margin-top: 3rem;
  box-shadow: #363636 0px 0px 10px;
}

.steps-to-find {
  width: 100%;
  background-color: var(--primary-color);
  min-height: 950px;
}

.steps-to-find .step-container {
  max-width: 85%;
  margin: 8rem auto 3.5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.steps-to-find .step-container .steps-title {
  font-size: 45px;
  font-weight: 600;
  text-transform: capitalize;
}

.steps-to-find .step-container .stepItem-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.steps-to-find .step-container .stepItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 4rem;
}

.steps-to-find .step-container .stepItem img {
  width: 350px;
  height: auto;
}

.steps-to-find .step-container .stepItem .item-description {
  font-weight: 400;
  text-align: center;
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--grey-color);
  font-family: "Libre Franklin", Arial, "Microsoft YaHei", 微软雅黑, STXihei, 华文细黑, SimSun, 宋体, Heiti, 黑体, sans-serif !important;
}

.steps-to-find .step-container button {
  border-radius: 10px;
  border: none;
  font-weight: 200;
  color: var(--primary-color);
  font-size: 1.5rem;
  padding: 20px 30px;
  text-transform: uppercase;
  background-color: var(--secondary-color);
  margin: 6rem 0;
  cursor: pointer;
}

.steps-to-find .step-container button:hover {
  animation-name: button-animation;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.contactForm {
  width: 100%;
}

.contactForm .formContainer {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(2, 1fr);
}

.contactForm .up-section {
  grid-row: 1/2;
  background-color: var(--secondary-color);
  min-height: 500px;
  z-index: 1;
}

.contactForm .down-section {
  grid-row: 2/3;
  min-height: 500px;
  z-index: 1;
}

.contactForm .form-to-contact {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  grid-row: 1/3;
  background-color: var(--primary-color);
  z-index: 100;
  min-height: 800px;
  min-width: 60%;
  box-shadow: #363636 0px 0px 10px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 20% 1fr;
}

.contactForm .form-to-contact .form-contact-us {
  grid-column: 1/3;
  grid-row: 1;
  text-align: center;
  text-decoration: underline;
  font-size: 2.5rem;
  font-weight: 200;
  color: var(--secondary-color);
  text-decoration-color: var(--secondary-color);
  /* 控制下划线颜色 */
  text-underline-offset: 25px;
}

.contactForm .form-to-contact .left-section {
  width: 80%;
  grid-column: 1/2;
  grid-row: 2;
  margin: 0 auto;
}

.contactForm .form-to-contact .left-section h1 {
  font-size: 2.5rem;
}

.contactForm .form-to-contact .left-section .contact-list {
  list-style-type: none;
  padding: 0;
}

.contactForm .form-to-contact .left-section .contact-list li {
  margin: 1.6rem 0;
  display: flex;
  justify-content: flex-start;
}

.contactForm .form-to-contact .left-section .contact-list li .bi-telephone-fill {
  color: var(--secondary-color);
}

.contactForm .form-to-contact .left-section .contact-list li .bi-envelope-fill {
  color: var(--secondary-color);
}

.contactForm .form-to-contact .left-section .contact-list li .bi-geo-alt-fill {
  color: var(--secondary-color);
}

.contactForm .form-to-contact .left-section .contact-list li span {
  font-size: 1.6rem;
  color: var(--grey-color);
  margin-left: 20px;
  text-align: left;
}

.contactForm .form-to-contact .right-section {
  grid-column: 2/3;
  grid-row: 2;
}

.contactForm .form-to-contact .right-section .right-title {
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-weight: 600;
}

.contactForm .form-to-contact .right-section .contactForm {
  list-style-type: none;
  padding: 0;
}

.contactForm .form-to-contact .right-section .contactForm li {
  margin: 1.6rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.contactForm .form-to-contact .right-section .contactForm li span {
  font-size: 1.5rem;
  color: #666363;
}

.contactForm .form-to-contact .right-section .contactForm li .text-input {
  margin-top: 3px;
  padding: 0;
  width: 80%;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #d6d4d47a;
  font-size: 20px;
  color: black;
}

.contactForm .form-to-contact .right-section .contactForm li .text-input:focus {
  outline: none;
}

.contactForm .form-to-contact .right-section .contactForm li .mySelect {
  margin-top: 3px;
  padding: 0;
  width: 80%;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #d6d4d47a;
  font-size: 20px;
  color: black;
}

.contactForm .form-to-contact .right-section .contactForm li .mySelect:focus {
  outline: none;
}

.contactForm .form-to-contact .right-section .contactForm li .equiry {
  margin-top: 3px;
  padding: 0;
  width: 80%;
  height: 120px;
  border-radius: 10px;
  border: none;
  background-color: #d6d4d47a;
  font-size: 20px;
  color: black;
}

.contactForm .form-to-contact .right-section .contactForm li .equiry:focus {
  outline: none;
}

.contactForm .form-to-contact .right-section button {
  border-radius: 10px;
  border: none;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 15px 4em;
  text-transform: uppercase;
  background-color: var(--secondary-color);
  cursor: pointer;
  color: var(--primary-color);
}

.contactForm .form-to-contact .right-section button:hover {
  animation-name: button-animation;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
